{% extends "base.html" %}
{% block title %}CMEC{% endblock %}
{% block content %}

{% include 'site/hero.html' %}

    CMEC is an effort to develop methods to coordinate climate model evaluation capabilities.
    
<div class="span12">
  <div class="row">
    <div class="span4">
        <h3>U.S. Sponsor</h3>
        <a target="_blank" href="http://energy.gov">
          <h4 class="muted">DOE</h4>
          <img src="static/images/doe.svg" class="thumbnail">
        </a>
    </div>
    <div class="span8">
        &nbsp;
    </div>
  </div>
</div>

{% endblock %}
