<style type="text/css">
div.hero-unit {
  position: relative;
  z-index: 1;
}
.hero-unit {
  background-color: rgb(400, 400, 400) !important;

}
div.hero-unit div.hero-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .35;
  background: url({{site.url}}/Data/media/images/place_holder.png) center center no-repeat;
  width: 100%;
  height: 100%;
}
img {
  max-height: 180px;
}
div.span12 {
  margin-bottom: 30px;
}
div.announcement {
  background: none;
  border: 1px solid #ccc;
  border-radius: 0;
  margin:  auto;
  margin-bottom: 20px;
  padding: 15px 30px;
  width:   75%;
}
div.announcement h3 {
  margin: 0;
}
div.announcement p {
  line-height: 1.2;
}
</style>

<div class="hero-unit">
  <div class="hero-bg"></div>
  <h1>CMEC</h1>
  <p>Coordinated Model Evaluation Capabilities</p>
  <p><a class="btn btn-primary btn-large" href="about.html">Learn more »</a></p>
</div>
