<link rel="stylesheet" href="{{site.baseurl}}/assets/css/nav-hover.css"/>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="{{site.baseurl}}/index.html">
        <img src="{{site.baseurl}}/assets/images/171120_CMECLogoOnly_100x45px_72dpi.png"/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExample09" aria-controls="navbarsExample09"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav">
                <li class="nav-item {% if page.url == '/' %} active {% endif %}">
                    <a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Capabilities</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="{{site.baseurl}}/capabilities.html">Overview</a>
                        <a class="dropdown-item" href="{{site.baseurl}}/pmp.html">PMP</a>
                        <a class="dropdown-item" href="{{site.baseurl}}/ilamb.html">ILAMB</a>
                        <a class="dropdown-item" href="{{site.baseurl}}/iomb.html">IOMB</a>
                        <a class="dropdown-item" href="{{site.baseurl}}/teca.html">TECA</a>
                    </div>
                </li>
                <li class="nav-item{% if page.url == '/results.html' %} active {% endif %}">
                    <a class="nav-link" href="{{site.baseurl}}/results.html">Results</a>
                </li>
                <li class="nav-item{% if page.url == '/protocols.html' %} active {% endif %}">
                    <a class="nav-link" href="{{site.baseurl}}/protocols.html">Protocols</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown09"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="{{site.baseurl}}/contact.html">Contacts</a>
                        <a class="dropdown-item" href="{{site.baseurl}}/references.html">References</a>
                        <a class="dropdown-item" href="{{site.baseurl}}/glossary.html">Glossary</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
