

      <h2 class="project-tagline"><a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/images/logo.png"/></a></h2>
      <a class="btn" href="{{site.baseurl}}/index.html"> Home </a>
      <a class="btn" href="{{site.baseurl}}/about.html"> About </a>
      <a class="btn" href="{{site.baseurl}}/capabilities.html"> Capabilities </a>
      <a class="btn" href="{{site.baseurl}}/results.html"> Results </a>
      <a class="btn" href="{{site.baseurl}}/protocols.html"> Protocols </a>
      <a class="btn" href="{{site.baseurl}}/resources.html"> Resources </a>
      <a class="btn" href="{{site.baseurl}}/contact.html"> Contacts </a>