<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Coordinated Model Evaluation Capabilities"/>
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="{{ site.baseurl }}/static/images/place_holder.png">
    <link id="bootstrap-css" href="{{ site.baseurl }}/static/css/bootstrap.min.css" rel="stylesheet">
    <link id="dashboard-css" href="{{ site.baseurl }}/static/css/blog.css" rel="stylesheet">

    <title>{% block title %} CMEC {% endblock %}</title>

    {% block extra_headers %} {% endblock %}

    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="{{ site.baseurl }}/"><img src="static/images/place_holder_sm.png"/> &nbsp;
                Coordinated Model Evaluation Capabilities</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="/pmp">PMP</a></li>
                    <li><a href="/ilamb">iLAMB</a></li>
                    <li><a href="/results">Results</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div style="margin-bottom: 60px;"></div>

<div class="container">
    {% block content %} {% endblock %}
</div>
<br>

{% include 'site/footer.html' %}



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ site.baseurl }}/static/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/static/js/links.js"></script>
</body>
</html>