<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Coordinated Model Evaluation Capabilities" />
    <meta name="author" content="{{ site.author }}">
    <link rel="shortcut icon" href="{{site.baseurl}}/Data/media/images/cmec-favcon.png">
    <style type="text/css">
    #bib p {
        text-indent: -50px;
        margin-left: 50px;
    }
    </style>

    <title>{{ page.title }}</title>

    <!-- Bootstrap core CSS -->
    <link id="bootstrap-css" href="{{site.baseurl}}/Data/media/css/bootstrap.min.css" rel="stylesheet"> 
    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    </style>
  </head>

  <body>

    <div class="navbar navbar-default navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{site.baseurl}}/"> &nbsp; CMEC </a>
          <a class="brand" href="{{site.baseurl}}/about.html"> &nbsp; About </a>
          <a class="brand" href="{{site.baseurl}}/capabilities.html"> &nbsp; Capabilities </a>
          <a class="brand" href="{{site.baseurl}}/results.html"> &nbsp; Results </a>
          <a class="brand" href="{{site.baseurl}}/protocols.html"> &nbsp; Protocols </a>
          <a class="brand" href="{{site.baseurl}}/resources.html"> &nbsp; Resources </a>
          <a class="brand" href="{{site.baseurl}}/contact.html"> &nbsp; Contacts </a>
        </div>
      </div>
    </div>
    <div style="margin-bottom: 60px;"></div>
    <!-- Main jumbotron for a primary marketing message or call to action -->

    <div class="container">
        {{content}}
    </div>

    <br>
    <hr>
    {% include footer.html %}
    <hr>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="{{site.baseurl}}/Data/media/js/bootstrap.min.js"></script>
    <script src="{{site.baseurl}}/Data/media/js/links.js"></script>
  </body>
</html>
